<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObserverSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B4EC5DC1CE24001008AF030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4EC5F21CE24001008AF030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4EC5FD1CE24001008AF030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
