<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlaceMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B433BF41BE2325F0049AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B433C021BE235060049AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B4F85AD1BE0B22B002F160C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B6931F81BE1A8710005D2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BBD96661BE0B1F700EEE487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BC86C051BC03B5500A6C01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE2643E1BE0A8A900EE1B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE2644C1BE0AA6200EE1B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF590511BCE5154003C0D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BF5905F1BCE5172003C0D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
